body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: white;
}

.header-text {
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.release img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; /* Increase space between cover and text */

}

.release-info {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.release-title {
    font-weight: bold;
}

.release-artist {
    font-style: italic;
}

.release-genre {
    margin-top: 5px;
}

.release-link {
    margin-top: 10px;
    display: block;
}

body, a, h2, p {
    font-family: 'Courier New', Courier, monospace;
}

.links-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* changed to left align the links */
    gap: 10px;
}

.links-container a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.links-container a:hover {
    text-decoration: underline;
}

.header-text a {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none; /* To remove the default underline of hyperlinks */
    color: inherit; /* To inherit the font color and not use the default blue for links */
}

.header-text a:hover {
    color: gray; /* or any other color for hover effect */
}

